body{
    background-color: rgb(218, 126, 40);
    margin: 0;
    font-family: 'Rubik', sans-serif;
    
}

.card{
    list-style: none;
    padding: 40px;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    color: rgb(126, 38, 214);
    text-align: center;
    border-radius: 25px;
}

.card:hover{
    animation: bounce 0.5s linear;
    cursor: pointer;
    
}

@keyframes bounce{
    20%{
        transform:translateY(-6px);
    }
    40%{
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(-0px);
    }
}

.card-title{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
}

.card-subtitle{
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
}

#pokedex{
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    
}

.card-image{
    height: 180px;
    
}

.container{
    padding: 40px;
    margin: 0 auto;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
    font-family: 'Rubik Wet Paint', cursive;
    background-image: linear-gradient(360deg,
        #624dc0,
        #343052,
        #070606);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
}


    #closeBtn {
        position:absolute;
        top:20px;
        right: 20px;
        background-image: linear-gradient(to right, #c21500 0%, #ffc500 51%, #c21500 100%)
    }
    
    #closeBtn {
        margin: 10px;
        padding: 10px 20px;
        border:none;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
    }
    
    #closeBtn:hover {
        background-position: right center;

        color: #fff;
        text-decoration: none;
    }
